{%include 'banner.html'%}
<div class="container-head">
    <h1 style="text-align:center;">All Products</h1>
    <ul class="listing">
        <a href="{%url 'index'%}"><li>Home >></li></a>
        <a href="#"><li>Product >></li></a>
        <a href="#"><li> Pages </li></a>
    </ul>
</div>
<div class="containerp">
 <!-- Sidebar Section -->
   <aside class="sidebar">
     <div class="search-box">
         <h3>Search Now</h3>
          <input type="text" placeholder="Search..." />
          <button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="color" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg></button>
     </div> 
     <div class="categories">
         <h3>Countries</h3>
             <li>India</li> </ul>

              <h3>Categories</h3>

                {%if category_display %}
                    <ul>
                        {% for cat in category_display %}
                            <li>
                                <a href="{%url 'category_detail' cat.id%}">{{cat.name}}</a>
                            </li> 
                        {% endfor %}
                    </ul> 
                {% else %}
                    {{cat.name}}
                {%endif%}


                <div class="search-box-filter">
                <h4>Filter by Price</h4>
                <input type="text"  class="search-box"><bold style="color:black"> - </bold><input type="text"  class="search-box">
                <div class="btn-select">
                    <button type="submit" value="submit" class="btn">Filter</button>
                    <button type="submit" value="submit" class="btn">All</button>
                </div>
                </div>

     </div>
   </aside>
    <!-- Product Display Section -->
      <main class="product-section">
         <div class="product-header">
             <p>Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ total_count }} results</p>
             <form method="get"action="{%url 'product_list' %}">
                <label for="sort_by">Sort_By:</label>
                <select name="sort_by" id="sort_by" onchange="this.form.submit();">
                    <option>--select any option--:</option>
                    <option value="recent" {% if sort_by == 'recent' %}selected{% endif %}>Recent Products</option>
                    <option value="price_low_high" {%if sort_by == 'price_low_high' %}selected{% endif %}>Low to High</option> 
                    <option value="price_high_low" {%if sort_by == 'price_high_low' %}selected{% endif %}>High to Low</option>
                </select>
         </div>
          <div class="product-grid">
            {% for product in page_obj %}
             <div class="product-card">
                 <img src="{{product.image.url}}" class="img-fluid w-100 rounded-top">
                 <div class="wish">
                  <a href="{%url 'add_to_wishlist' product.id%}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-heart" viewBox="0 0 24 24" fill="none" stroke="currentColor"  >
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                  </svg></a>
                 </div>
                 <div class="p-4 rounded-bottom">
                    <div class="p-3 my-5">
                        <h4>{{product.name}}</h4>
                        <p>Rs.{{product.ourprice}}</p>
                        <a href="{%url 'add_to_cart' product.id%}" class="btn-cart">Add to Cart</a>
                    </div>
                 </div>
             </div>
             {%endfor%}
            
            </div>
        </main>
    </div>
    <!--Pagination Controls-->
    <div class="pagination d-flex justify-content-center mt-4">
  <ul class="pagination">
    {% if products.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
      </li>
    {% endif %}

    {% for num in products.paginator.page_range %}
      <li class="page-item {% if products.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
    {% endfor %}

    {% if products.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
      </li>
    {% endif %}
  </ul>
</div>


</body>
</html>
